/* Global */

a {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}
a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: pink;  }

/* Header */

header {
  background-image: url('images/sky.jpg');
  text-align: center;
  width: 800px;
  margin: auto;
}
h1 {
  font-family: 'play', sans-serif;
  color: #7a1b00;

/* Main Content Area */

}
body {
  background-color: #ffdc89;
}
main {

}
h2 {
  font-family: 'roboto', sans-serif;
  text-align: center;
}
h3{
  font-family: 'times', serif;
}
p {
  font-family: 'arial', serif;
  width: 800px;
  text-align: center;
  margin: auto;
  color: #e87e0c
}
li {
  color: #55abff
}
hr {
  color: #e87c0c;
  width: 800px;
  height: 15px;
}
section {
  width: 180px;
  margin: auto;
}

/* footer */

footer {
  background-image: url('images/sky.jpg');
  text-align: center;
  width: 800px;
  height: 100px;
  margin: auto;
}
