/* Global */

a {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}
a:link    { color: blue;  }
a:visited { color: orange;   }
a:hover   { color: black; }
a:active  { color: pink;  }

.wrapper {
  width: 800px;
  margin: auto;
}

img {
  width: 100%;
}

body {
  background: linear-gradient(to bottom, orange 0%,orange 25%,#000000 25%,white 25%,white 100%);
}

/* Header */

header {
}
h1 {
  font-family: 'play', sans-serif;
  color: blue;
  text-align: left;
  width: 800px;
}

/* Main Content Area */


h2 {
  font-family: 'roboto', sans-serif;
  color: orange;
}

h3{
  font-family: 'times', serif;
}

p {
  font-family: 'arial', serif;
  text-align: left;
  margin: auto;
  width: 800px;
  color: black;
}

ul {
}

li {
  color: #000;
  list-style-type: circle;
}

hr {
  color: #e87c0c;
  width: 800px;
}

section {
  text-align: left;
}

/* footer */

footer {
  background-color: orange;
  text-align: center;
  height: 100px;
  margin: auto;
}
